.thought-card {
  border: 1px solid;
  padding: 20px;
  box-shadow: 8px 8px 0px 0px #000000;
  display: flex;
  row-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.thought-heading {
  margin: 0px 0 5px 0;
  flex-basis: 100%;
  word-break: break-word;
}

.button {
  height: 30px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" style="font-size: 15px; text-align: center;"><text y="15">👆❤</text></svg>'),
    auto;
}

.heart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border: 0;
  border-radius: 50%;
  color: red;
}

.loved {
  background-color: pink;
}

.hearts-x {
  font-size: 0.7rem;
  vertical-align: 10%;
}

.heart-number {
  margin: 0 5px;
  flex-grow: 1;
}

.time {
  flex-grow: 0;
}

.refresh {
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  position: sticky;
  z-index: 10;
  left: 80%;
  bottom: 20px;
  border: 2px solid pink;
}

@media (min-width: 600px) {
  .refresh {
    left: 90%;
  }
}
