.thought-input {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  align-content: flex-start;
  flex-basis: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.post-thought-card {
  background-color: rgb(238, 238, 238);
}

.post-button {
  margin-top: 10px;
  padding: 0 10px;
  background-color: pink;
  border: 0;
  border-radius: 100px;
}

.red-heart {
  color: red;
}

.post-button:disabled .red-heart {
  color: grey;
}
.post-button:disabled {
  background-color: rgb(204, 204, 204);
}

.typing {
  animation: heartbeat 2s;
  animation-iteration-count: infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
